{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="">Profile Page</h2>
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quis porro, aliquid sed molestias maiores quod! Harum sit perferendis adipisci porro dolorem consequatur reprehenderit sapiente doloribus repudiandae minima rem dignissimos at deleniti non expedita, obcaecati sequi cupiditate voluptatum ex. Dignissimos, optio asperiores. Sed quaerat suscipit minima consequuntur voluptas temporibus dolorem commodi minus sapiente harum, incidunt impedit odit, sunt nulla, deserunt fugiat perspiciatis itaque consequatur! Ducimus obcaecati magni, exercitationem repellendus voluptates dignissimos voluptas quod voluptatem sapiente eligendi asperiores nesciunt commodi veniam sit et assumenda nam quibusdam quidem dolores non illo, recusandae eum. Delectus neque numquam, ea eius labore consectetur laborum qui.</p>
        <a href="{% url 'home' %}" class="">Home</a>
    </div>
    
</body>
</html>
