{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <form method="POST" action="{% url 'register' %}" class="">
        {% comment %} CROSS SITE REQUEST FORGERY : It prevents from malicious attack{% endcomment %}
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Register</button>
    </form>
</body>
</html>